<!DOCTYPE html>
<html>

<head>

<title>Courses</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Courses Offered</h1>

<div class="course-container">

<div class="course-card">

<h2>BCA</h2>

<p>3 year undergraduate program focused on computer applications.</p>

</div>

<div class="course-card">

<h2>MCA</h2>

<p>2 year postgraduate program in computer applications.</p>

</div>

<div class="course-card">

<h2>BBA</h2>

<p>Business administration undergraduate program.</p>

</div>

<div class="course-card">

<h2>MBA</h2>

<p>Postgraduate management program.</p>

</div>

</div>

<footer class="footer">

<p>© 2026 College Enquiry Chatbot</p>
<p>Developed by: Lokesh S. Khapekar</p>

</footer>

</body>

</html>