<!DOCTYPE html>
<html>

<head>

<title>College Enquiry Chatbot</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

<h2>College System</h2>

<div>

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/courses">Courses</a>
<a href="/contact">Contact</a>
<a href="/chatbot">Chatbot</a>

</div>

</div>

<div class="hero">

<h1>Welcome to College Enquiry Chatbot</h1>

<p>This AI chatbot helps students get college information instantly.</p>

<a class="btn" href="/chatbot">Start Chatbot</a>

</div>

<footer class="footer">

<p>© 2026 College Enquiry Chatbot</p>
<p>Developed by: Lokesh S. Khapekar</p>
<p>MCA Final Year Major Project</p>
<p>Department of Computer Applications</p>

</footer>

</body>

</html>